@import "tailwindcss";

body{
    background-color: #C7E1EE;
    color: white;
}
#Vitaminok{
    background-color: #8BB9D0;
    text-align: center;
    width: 854px;
    height: 500px;
    
}
#Vitamin{
    background-color:#476D98;
    
    width: 359px;
    height: 100px;;
}
